{% extends 'base.html' %}
{% block title %}Kalyan Morning{% endblock %}
{% block contant %}


<style>
  .wallet_nav {
    padding: 0 30px;
    width: auto;
    height: 70px;
    display: flex;
    background-color: cornflowerblue;
    align-items: center;
    justify-content: space-between;
  }

  .wallet_nav .heading {
    margin-left: 50px;
    font-weight: 600;
    font-size: 20px;
  }

  * {
    box-sizing: border-box;
  }

  input[type=text],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: blue;
  }

  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-top: 20px;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 25px;
  }

  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }

  .col-75 {
    float: left;
    width: 75%;
    
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px;
    margin-top: 6px;
  }
  
  .col-75 input[type=radio]:nth-child(2) {
    margin-left: 25%;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;

  }

  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {

    .col-25,
    .col-75,
    input[type=submit] {
      width: 100%;
      margin-top: 10px;
    }
  }
</style>
<nav class="wallet_nav">
  <div class="heading">KALYAN MORNING (Double Panna)</div>
</nav>
<div class="container">
  <form method="POST" action="{% url 'kalyanmorningdoublepana'%}" method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col-25">
        <label for="fname">Date</label>
      </div>
      <div class="col-75">
        <input type="text" id="today_date"  readonly>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="fname">Session</label>
      </div>
      <div class="col-75">
        <input type="radio" name="session" value="open" Required>Open
        <input type="radio" name="session" value="close" Required>close
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="fname">Panna</label>
      </div>
      <div class="col-75">
        <select name="pana" Required>
          <option>Enter Digit</option>
          <option value="100">100</option>
          <option value="110">110</option>
          <option value="112">112</option>
          <option value="113">113</option>
          <option value="114">114</option>
          <option value="115">115</option>
          <option value="116">116</option>
          <option value="117">117</option>
          <option value="118">118</option>
          <option value="119">119</option>
          <option value="122">122</option>
          <option value="133">133</option>
          <option value="144">144</option>
          <option value="155">155</option>
          <option value="166">166</option>
          <option value="177">177</option>
          <option value="188">188</option>
          <option value="199">199</option>
          <option value="200">200</option>
          <option value="220">220</option>
          <option value="223">223</option>
          <option value="224">224</option>
          <option value="225">225</option>
          <option value="226">226</option>
          <option value="227">227</option>
          <option value="228">228</option>
          <option value="229">229</option>
          <option value="233">233</option>
          <option value="244">244</option>
          <option value="255">255</option>
          <option value="266">266</option>
          <option value="277">277</option>
          <option value="288">288</option>
          <option value="299">299</option>
          <option value="300">300</option>
          <option value="330">330</option>
          <option value="334">334</option>
          <option value="335">335</option>
          <option value="336">336</option>
          <option value="337">337</option>
          <option value="338">338</option>
          <option value="339">339</option>
          <option value="344">344</option>
          <option value="355">355</option>
          <option value="366">366</option>
          <option value="377">377</option>
          <option value="388">388</option>
          <option value="399">399</option>
          <option value="400">400</option>
          <option value="440">440</option>
          <option value="445">445</option>
          <option value="446">446</option>
          <option value="447">447</option>
          <option value="448">448</option>
          <option value="449">449</option>
          <option value="455">455</option>
          <option value="466">466</option>
          <option value="477">477</option>
          <option value="488">488</option>
          <option value="499">499</option>
          <option value="500">500</option>
          <option value="550">550</option>
          <option value="556">556</option>
          <option value="557">557</option>
          <option value="558">558</option>
          <option value="559">559</option>
          <option value="566">566</option>
          <option value="577">577</option>
          <option value="588">588</option>
          <option value="599">599</option>
          <option value="600">600</option>
          <option value="660">660</option>
          <option value="667">667</option>
          <option value="668">668</option>
          <option value="669">669</option>
          <option value="677">677</option>
          <option value="688">688</option>
          <option value="699">699</option>
          <option value="700">700</option>
          <option value="770">770</option>
          <option value="778">778</option>
          <option value="779">779</option>
          <option value="788">788</option>
          <option value="799">799</option>
          <option value="800">800</option>
          <option value="880">880</option>
          <option value="889">889</option>
          <option value="899">899</option>
          <option value="900">900</option>
          <option value="990">990</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="fname">Points</label>
      </div>
      <div class="col-75">
        <input type="text"  name="points" Required>
      </div>
    </div>
    <div class="row">
      <input type="submit" value="Submit">
    </div>

  </form>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script>
  {%if messages%}    
  {% for msg in messages%}
  swal('{{msg}}');
  {% endfor %}
  {% endif %}
  
  </script>
<script>
  var today = new Date();
  var date = today.getDate() + '-' + (today.getMonth() + 1) + '-' + today.getFullYear();
  document.getElementById("today_date").value = date;
</script>
{% endblock contant %}