{% extends 'base.html' %}
{% block title %}singlepana{% endblock %}
{% block contant %}
<style>
  .wallet_nav {
    padding: 0 30px;
    width: auto;
    height: 70px;
    display: flex;
    background-color: cornflowerblue;
    align-items: center;
    justify-content: space-between;
  }

  .wallet_nav .heading {
    margin-left: 50px;
    font-weight: 600;
    font-size: 20px;
  }

  * {
    box-sizing: border-box;
  }

  input[type=text],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: blue;
  }

  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-top: 20px;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 25px;
  }

  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }

  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;

  }

  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {

    .col-25,
    .col-75,
    input[type=submit] {
      width: 100%;
      margin-top: 10px;
    }
  }
</style>
<nav class="wallet_nav">
  <div class="heading">01:00 PM (Single Pana)</div>
</nav>
<div class="container">
  <form action="{% url 'onepmsinglepana'%}" method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col-25">
        <label for="fname">Date</label>
      </div>
      <div class="col-75">
        <input type="text" id="today_date"  readonly> 
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="fname">Pana</label>
      </div>
      <div class="col-75">  
        <select name="pana" Required>
          <option>Enter Digit</option>
          <option value="120">120</option>
          <option value="123">123</option>
          <option value="124">124</option>
          <option value="125">125</option>
          <option value="126">126</option>
          <option value="127">127</option>
          <option value="128">128</option>
          <option value="129">129</option>
          <option value="130">130</option>
          <option value="134">134</option>
          <option value="135">135</option>
          <option value="135">135</option>
          <option value="136">136</option>
          <option value="137">137</option>
          <option value="138">138</option>
          <option value="139">139</option>
          <option value="140">140</option>
          <option value="145">145</option>
          <option value="145">145</option>
          <option value="146">146</option>
          <option value="147">147</option>
          <option value="148">148</option>
          <option value="149">149</option>
          <option value="150">150</option>
          <option value="156">156</option>
          <option value="157">157</option>
          <option value="158">158</option>
          <option value="159">159</option>
          <option value="160">160</option>
          <option value="167">167</option>
          <option value="168">168</option>
          <option value="169">169</option>
          <option value="170">170</option>
          <option value="178">178</option>
          <option value="179">179</option>
          <option value="180">180</option>
          <option value="189">189</option>
          <option value="190">190</option>
          <option value="230">230</option>
          <option value="234">234</option>
          <option value="235">235</option>
          <option value="236">236</option>
          <option value="237">237</option>
          <option value="238">238</option>
          <option value="239">239</option>
          <option value="240">240</option>
          <option value="245">245</option>
          <option value="246">246</option>
          <option value="247">247</option>
          <option value="248">248</option>
          <option value="249">249</option>
          <option value="250">250</option>
          <option value="256">256</option>
          <option value="257">257</option>
          <option value="258">258</option>
          <option value="259">259</option>
          <option value="260">260</option>
          <option value="267">267</option>
          <option value="268">268</option>
          <option value="269">269</option>
          <option value="270">270</option>
          <option value="278">278</option>
          <option value="279">279</option>
          <option value="280">280</option>
          <option value="289">289</option>
          <option value="290">290</option>
          <option value="340">340</option>
          <option value="345">345</option>
          <option value="346">346</option>
          <option value="347">347</option>
          <option value="348">348</option>
          <option value="349">349</option>
          <option value="350">350</option>
          <option value="356">356</option>
          <option value="357">357</option>
          <option value="358">358</option>
          <option value="359">359</option>
          <option value="360">360</option>
          <option value="367">367</option>
          <option value="368">368</option>
          <option value="369">369</option>
          <option value="370">370</option>
          <option value="378">378</option>
          <option value="379">379</option>
          <option value="380">380</option>
          <option value="389">389</option>
          <option value="390">390</option>
          <option value="450">450</option>
          <option value="456">456</option>
          <option value="457">457</option>
          <option value="458">458</option>
          <option value="459">459</option>
          <option value="460">460</option>
          <option value="467">467</option>
          <option value="468">468</option>
          <option value="469">469</option>
          <option value="470">470</option>
          <option value="479">479</option>
          <option value="480">480</option>
          <option value="489">489</option>
          <option value="490">490</option>
          <option value="560">560</option>
          <option value="567">567</option>
          <option value="568">568</option>
          <option value="569">569</option>
          <option value="570">570</option>
          <option value="578">578</option>
          <option value="579">579</option>
          <option value="580">580</option>
          <option value="589">589</option>
          <option value="590">590</option>
          <option value="670">670</option>
          <option value="678">678</option>
          <option value="679">679</option>
          <option value="680">680</option>
          <option value="689">689</option>
          <option value="690">690</option>
          <option value="780">780</option>
          <option value="789">789</option>
          <option value="790">790</option>
          <option value="890">890</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="fname">Points</label>
      </div>
      <div class="col-75">
        <input type="text" placeholder="Enter Points"Required name="points">
      </div>
    </div>
    <div class="row">
      <input type="submit" value="Submit">
    </div>

  </form>
</div>
<script>
  var today = new Date();
  var date = today.getDate() + '-' + (today.getMonth() + 1) + '-' + today.getFullYear();
  document.getElementById("today_date").value = date;
</script>
{% endblock contant %}