{% extends 'base.html' %}
{% block title %}Add Ponits{% endblock %}
{% block contant %}
<style>
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  input[type=text],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }


  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-size: 40px;
    font-family: 'Courier New', monospace;
  }

  .button {
    margin: 20px;

  }

  .wallet_nav {
    padding: 0 30px;
    width: auto;
    height: 70px;
    display: flex;
    background-color: cornflowerblue;
    align-items: center;
    justify-content: space-between;
  }

  .wallet_nav .heading {
    margin-left: 50px;
    font-weight: 600;
    font-size: 20px;
  }
</style>
<nav class="wallet_nav">
  <div class="heading">Add Points</div>
</nav>
<form method="POST" action="{%url 'addpoint'%}">
  {% csrf_token %}
  <div class="container">
    <label>Add Points</label>
    <input type="text" id="amount" name="amount" placeholder="Enter Points...">
    <div class="button">
      <a href="{%url 'addpoint'%}" class="btn btn-secondary  btn-lg btn-block fa fa-add">Pay With UPI</a>
    </div>

    <div class="button">
      <input type="submit"  class="btn btn-secondary   btn-lg btn-block fa fa-add" value="Pay With
      Rozorpay">
      
    </div>
  </div>
 </form>
 {% if payment%}
 {% comment %} <form action="{%url 'success'%}" method="POST"> {% endcomment %}
  <div class="container">
 <button id="rzp-button1">Pay</button>
  </div>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var options = {
    "key": "rzp_test_WYJiWly9dl8E6t", 
    "amount": "{payment.amount}", 
    "currency": "INR",
    "name": "Acme Corp",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": "{{payment.id}}",
    "callback_url": "https://eneqd3r9zrjok.x.pipedream.net/",
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9999999999"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
});
document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
</script>
{% comment %} </form> {% endcomment %}
{% endif %}

 
 </div>



 
    {% endblock contant %}