{% extends 'base.html' %}
{% block title %}reset Password{% endblock  %}
{%block contant%}
<style>
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 25px;
  }
  </style>

  
  <div class="container">
    <form action="/action_page.php">
      <label for="fname">Old Password</label>
      <input type="text" id="fname" name="firstname" placeholder="Your old password..">
  
      <label for="lname">New Password</label>
      <input type="text" id="lname" name="lastname" placeholder="Your new password..">
      
      <label for="lname">Re-Enter Password</label>
      <input type="text" id="lname" name="lastname" placeholder="Re-Enter New Password..">
      
      </select>
    
      <input type="submit" value="Submit">
    </form>
  </div>
{% endblock contant %}
