{% extends 'base.html' %}
{% block title %}reset Password{% endblock  %}
{%block contant%}
<style>
input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 25px;
  }

.wallet_nav {
  padding: 0 30px;
  width: auto;
  height: 70px;
  display: flex;
  background-color: cornflowerblue;
  align-items: center;
  justify-content: space-between;
}

.wallet_nav .heading {
  margin-left: 50px;
  font-weight: 600;
  font-size: 20px;
}
</style>
<nav class="wallet_nav">
<div class="heading">Add Points</div>
</nav>
  
  <div class="container">
    <form method="post" action="{%url 'ChangePassword'%}">
      {% csrf_token %}
      <label >Old Password</label>
      <input type="password"  name="oldpassword" placeholder="Your old password..">
  
      <label >New Password</label>
      <input type="password"  name="newpassword" placeholder="Your new password..">
      
      <label >Re-Enter Password</label>
      <input type="password"  name="cpassword" placeholder="Re-Enter New Password..">
      
      </select>
    
      <input type="submit" value="Submit">
    </form>
  </div>
{% endblock contant %}
