{% extends 'base.html' %}
{% block title %}Contact Us{% endblock  %}
{%block contant%}
<style>
   

    .contact {
        position:relative;
        margin:20px;
        left:50px;
        width: 33%;
        display:flex;
        align-item:center;
        justify-content:space-between;
        background-color: green;
        border-radius:20px;
        padding:5px 20px;
        float:left;
        
    }
  
   

    @media screen and (max-width: 500px) {
        .contact
         {
            width: 80%;
            left: 10px;
            right:5px;
        }
    }
    .wallet_nav {
        padding: 0 30px;
        width: auto;
        height: 70px;
        display: flex;
        background-color: cornflowerblue;
        align-items: center;
        justify-content: space-between;
    }
    
    .wallet_nav .heading {
        margin-left: 50px;
        font-weight: 600;
        font-size: 20px;
    }
    
</style>
<nav class="wallet_nav">
    <div class="heading">Contact Us</div>
  
  </nav>



<div class="contact">
    <div>Mobile No.</div>
    <div>8078657163</div>   
</div>
<div class="contact">
    <div>WhatsApp No.</div>
    <div>8078657163</div>
     
</div>
<div class="contact">
    <div>Email</div>
    <div>hs0445546@gmail.com</div> 
</div>


{% endblock contant %}
