{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block contant %}
{% load static %}

   <!-- As a heading -->
<nav class="wallet_nav">
    <div class="heading">Gali Disawar</div>
    <div class="btnleft">
        <a href="{%url 'winning'%}"  class="btn1">Winning History</a>
           </div>
         <div class="btnright">
         <a href="{%url 'bid'%}" class="btn1">Bid History</a>
           </div>
</nav>
    <table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Jodi</th>
      <th scope="col">10-900</th>
    </tr>
  </thead>
  

</table>
 



<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
.wallet_nav {
    padding: 0 30px;
    width: auto;
    height: 70px;
    display: flex;
    background-color: cornflowerblue;
    align-items: center;
    justify-content: space-between;
  }

  .wallet_nav .heading {
        margin-left: 50px;
        font-weight: 600;
        font-size: 20px;
    }

  .table td{
    margin-left:100px;
   

   
  }
  .table th{
    margin-left:100px;
   
  }
* {
  box-sizing: border-box;
}

.left {
  border:2px solid red;
  background-color: #f1f1f1;
  padding: 20px;
  float: left;
  width: 33%; /* The width is 20%, by default */

}
a{
  text-decoration:none;
  color:black;
  float:left;

}
.btn{
      background-color:blue;
      padding: 6px;
      border: 5px solid crimson;
      cursor: pointer;
      font-size: 13px;
      border-radius: 30px;
      color: white;


}
.btn1{
  background-color:white;
  padding:6px;
  border:5px solid blue;
  cursor:pointer;
  font-size:13px;
  color:black;
  border-radius:10px
  


}

.my{
  background-color:green;
  padding:6px;
  border:5px solid blue;
  float:Right;
  cursor:pointer;
  font-size:13px;
  border-radius:30px


}


.main {
  border:2px solid red;
  background-color: #f1f1f1;
  padding: 20px;
  float: left;
  width: 33%; /* The width is 60%, by default */
}

.right {
  border:2px solid red;
  background-color:#f1f1f1;
  padding: 20px;
  float: left;
  width: 33%; /* The width is 20%, by default */
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}


/* ---------------left-button-btn----------------- */

.left-button-btn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #0f0;
}
.share {
    position: fixed;
    bottom: 20px;
    display: grid;
    place-items: center;
    left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #0f0;
}

.connect_dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    width: 200px;
    bottom: 60px;
    height: 120px;
    border: 1px solid #000;
    padding: 0 10px;
    background-color: #fff;
    border-radius: 12px;
}

.connect_dropdown .links:nth-child(1),
.connect_dropdown .links:nth-child(2) {
    border-bottom: 1px solid #000;
}

.connect_dropdown .links {
    width: 100%;
    display: flex;
    padding: 0 10px;
    align-items: center;
    height: calc(100%/3);
}

.active {
    display: block;
}

.base_Timing {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 30px;
  background-color: #343a40;
}

.main_btn_section{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 8px 8px 8px;
  align-items: center;
}

.btn_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 8px 8px 8px;
  
}

</style>

<div class="left text-center">
  <div class="base_Timing">
    {% if Time%}
    {% for t in Time  %}
    {% if t.title == 'Disawar'%}
    <span>Open Time : {{t.Open_Time}} am</span>
    {% endif %}
    {% endfor %}
    {% endif %}
  </div>
  <h3>Disawar</h3>
  {% if number%}
  {% for num in number  %}
  {% if num.title == 'Disawar'%}
  <p>{{num.Number}}</P>
    {% endif %}
    {% endfor %}
    {% endif %}
  <div class="btn_section">
    <a href="#" class="btn">Chart</a>
  <a href="{%url 'disawar'%}"class="my">Open</a>
  </div>
</div>


<div class="main text-center">
  <div class="base_Timing">
    {% if Time%}
    {% for t in Time  %}
    {% if t.title == 'Faridabaad'%}
    <span>Open Time : {{t.Open_Time}} pm</span>
    {% endif %}
    {% endfor %}
    {% endif %}
  </div>
  <h3>Faridabaad</h3>
  {% if number%}
  {% for num in number  %}
  {% if num.title == 'Faridabaad'%}
  <p>{{num.Number}}</P>
    {% endif %}
    {% endfor %}
    {% endif %}
    <div class="btn_section">
  <a href="#" class="btn">Chart</a>
  <a href="{%url 'faridabaad'%}"  class="my">Open</a>
</div>
</div>

<div class="right text-center">
  <div class="base_Timing">
    {% if Time%}
    {% for t in Time  %}
    {% if t.title == 'Gaziabaad'%}
    <span>Open Time : {{t.Open_Time}} pm</span>
    {% endif %}
    {% endfor %}
    {% endif %}
    </div>
  <h3>Gaziabaad</h3>
  {% if number%}
    {% for num in number  %}
    {% if num.title == 'Gaziabaad'%}
    <p>{{num.Number}}</P>
      {% endif %}
      {% endfor %}
      {% endif %}
    <div class="btn_section">
  <a href="#" class="btn">Chart</a>
  <a href="{%url 'gaziabaad'%}" class="my">Open</a>
</div>
</div>

<div class="left text-center">
  <div class="base_Timing">
    {% if Time%}
    {% for t in Time  %}
    {% if t.title == 'Gali'%}
    <span>Open Time : {{t.Open_Time}} pm</span>
    {% endif %}
    {% endfor %}
    {% endif %}
    </div>
  <h3>Gali</h3>
  {% if number%}
    {% for num in number  %}
    {% if num.title == 'Gali'%}
    <p>{{num.Number}}</P>
      {% endif %}
      {% endfor %}
      {% endif %}
    <div class="btn_section">
  <a href="#" class="btn">Chart</a>
  <a href="{%url 'gali'%}" class="my">Open</a>
</div>
</div>




{% endblock contant %}