{% extends 'base.html' %}
{% block title %}Games rates{% endblock  %}
{%block contant%}
<style>
   

    .gamerate {
        position:relative;
        margin:20px;
        left:50px;
        width: 33%;
        display:flex;
        align-item:center;
        justify-content:space-between;
        background-color: green;
        border-radius:20px;
        padding:5px 20px;
        float:left;

        
    }
   

    @media screen and (max-width: 500px) {

        .gamerate{
            width: 80%;
            left: 10px;
            right:5px;
        }
    }
    .wallet_nav {
        padding: 0 30px;
        width: auto;
        height: 70px;
        display: flex;
        background-color: cornflowerblue;
        align-items: center;
        justify-content: space-between;
    }
    
    .wallet_nav .heading {
        margin-left: 50px;
        font-weight: 600;
        font-size: 20px;
    }
</style>
<nav class="wallet_nav">
    <div class="heading">Games Rate</div>
  </nav>
<div class="winning_container">


<div class="gamerate">
    <div>Single Digit</div>
    <div>10-95</div>   
</div>
<div class="gamerate">
    <div>Jodi Digit</div>
    <div>10-950</div>   
</div>
<div class="gamerate">
    <div>Single Pana</div>
    <div>10-1500</div>   
</div>
<div class="gamerate">
    <div>Double Pana</div>
    <div>10-3000</div>   
</div>
<div class="gamerate">
    <div>Triple Pana</div>
    <div>10-7000</div>   
</div>
<div class="gamerate">
    <div>Half Sangam</div>
    <div>10-10000</div>   
</div>
<div class="gamerate">
    <div>Full Sangam</div>
    <div>10-100000</div>   
</div>
</div>
{% endblock contant %}
