{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block contant %}
{% load static %}
<nav class="wallet_nav">
  {%if user.is_authenticated%}
  <div class="heading">Hello {{user.first_name}}</div>
  {%endif%}
  <a href="{%url 'wallet'%}">
    <img src="{% static 'images/wallet.svg'%}" >
  </a>
</nav>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    
    <div class="carousel-item active">
       
       <img class="w-100 h-100 " {% for i in img%}  src="{{ i.image.url}}" {%endfor%}  alt="First slide">
       
    </div>
     
    <a class="carousel-control-prev" 0 href="#carouselExampleControls" role="a href=" #"" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="a href=" #"" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    
  </div>
 

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .wallet_nav {
      padding: 0 30px;
      width: auto;
      height: 70px;
      display: flex;
      background-color: cornflowerblue;
      align-items: center;
      justify-content: space-between;
    }

    .wallet_nav .heading {
      margin-left: 30px;
      font-weight: 600;
      font-size: 15px;
    }

    .wallet_nav a {
      border: none;
      background: none;
    }

    .wallet_nav button img {
      width: 40px;
      height: 40px;
    }

    * {
      box-sizing: border-box;
    }

    .left {
      border: 2px solid red;
      float: left;
      width: 33%;
      /* The width is 20%, by default */
    }

    .btn_section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 8px 8px 8px ;
    }

    a {
      text-decoration: none;
      color: black;
      float: left;

    }

    .btn {
      background-color:blue;
      padding: 6px;
      border: 5px solid crimson;
      cursor: pointer;
      font-size: 13px;
      border-radius: 30px;
      color: white;
    
      
    }
    .btnc {
      background-color:blue;
      padding: 6px;
      border: 5px solid crimson;
      cursor: pointer;
      font-size: 13px;
      border-radius: 30px;
      color: white;
    
      
    }

    .btn_open {
      background-color: green;
      padding: 11px;
      font-style:bold;
      float: Right;
      cursor: pointer;
      font-size: 13px;
      border-radius: 30px

    }


    .main {
      border: 2px solid red;
      float: left;
      width: 33%;
      /* The width is 60%, by default */
    }

    .right {
      border: 2px solid red;
      float: left;
      width: 33%;
      /* The width is 20%, by default */
    }

    /* Use a media query to add a break point at 800px: */
    @media screen and (max-width: 800px) {

      .left,
      .main,
      .right {
        width: 100%;
        /* The width is 100%, when the viewport is 800px or smaller */
      }
    }


    /* ---------------left-button-btn----------------- */

    .left-button-btn {
      position: fixed;
      bottom: 20px;
      left: 20px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #0f0;
    }

    .share {
      position: fixed;
      bottom: 20px;
      display: grid;
      place-items: center;
      left: 20px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #0f0;
    }

    .connect_dropdown {
      position: absolute;
      display: none;
      z-index: 1;
      width: 200px;
      bottom: 60px;
      height: 120px;
      border: 1px solid #000;
      padding: 0 10px;
      background-color: #fff;
      border-radius: 12px;
    }

    .connect_dropdown .links:nth-child(1),
    .connect_dropdown .links:nth-child(2) {
      border-bottom: 1px solid #000;
    }

    .connect_dropdown .links {
      width: 100%;
      display: flex;
      padding: 0 10px;
      align-items: center;
      height: calc(100%/3);
    }

    .active {
      display: block;
    }

    .base_Timing {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      align-items: center;
      height: 30px;
      background-color: #0ebed5;
    }

    .base_Timing span {
      font-size: 13px;
      color: white;
    }
    p{

      font-size: 25px;
    }

    .twobtn{
      padding: 0 30px;
      width: auto;
      height: 70px;
      display: flex;
      background-color: white;
      align-items: center;
      justify-content: space-between;

    }

    .btns {
      background-color:blue;
      padding: 6px;
      border: 5px solid crimson;
      cursor: pointer;
      font-size: 13px;
      border-radius: 10px;
      color: white;
    }

    .close{
            background-color: red !important;
            pointer-events: none;
        }
  </style>
  
  <div class="twobtn">
  <div class="btnleft">
    <a href="{%url 'starline'%}" class="btns">Starline</a>
  </div>
  <div class="btnright">
    <a href="{%url 'galidiswar'%}" class="btns">Gali Disawar</a>
  </div>
</div>
  <div class="left text-center">
    <h3>MILAN MORNING</h3>
    {% if number%}
    {% for num in number  %}
    {% if num.title == 'Milan Morning'%}
    <p>{{num.Number}}</P>
      {% endif %} 
      {% endfor %}
      {% endif %}
    <div class="btn_section">
      <a href="https://luxmatka.club/main-market-chart.php" class="btnc">Chart</a>
      
      <a href="{%url 'kalyan_morning'%}" id="btn1" class="btn_open ">Open </a>
    </div>
    <div class="base_Timing">
    {% if Time%}
    {% for t in Time  %}
    {% if t.title == 'Milan Morning'%}
    <span>Open Time  : 10:10
      <span style="display:none" id="open_time1" >{{t.Opne_Time}} </span>
      AM
    </span>
    <span>Close Time : 11:10
      <span style="display:none" id="close_time1" >{{t.Close_Time}}</span>
      AM
    </span>
      {% endif %}
      {% endfor %}
      {% endif %}
    </div>
  </div>

  <div class="main text-center">
    <h3>WELCOME MORNING</h3>
    {% if number%}
    {% for num in number  %}
    {% if num.title == 'Welcome Morning'%}
    <p>{{num.Number}}</P>
      {% endif %}
      {% endfor %}
      {% endif %}
    <div class="btn_section">
      <a href="https://luxmatka.club/main-market-chart.php" class="btnc">Chart</a>
      <a href="{%url 'welcome_morning'%}" id="btn2" class="btn_open">Open</a>
    </div>
    <div class="base_Timing">
      {% if Time%}
    {% for t in Time  %}
    {% if t.title == 'Welcome Morning'%}
    <span>Open Time  : 09:30
      <span style="display:none" id="open_time2" >{{t.Opne_Time}} </span>
      AM
    </span>
    <span>Close Time : 11:00
      <span style="display:none" id="close_time2" >{{t.Close_Time}}</span>
      AM
    </span>
      {% endif %}
      {% endfor %}
      {% endif %}
    </div>
  </div>

  <div class="right text-center">
    <h3>KALYAN MORNING</h3>
    {% if number%}
    {% for num in number  %}
    {% if num.title == 'Kalyan Morning'%}
    <p>{{num.Number}}</P>
      {% endif %}
      {% endfor %}
      {% endif %}
    <div class="btn_section">
      <a href="https://luxmatka.club/main-market-chart.php" class="btnc">Chart</a>
      <a href="{%url 'kalyan_morning'%}" id="btn3" class="btn_open">Open</a>
    </div>
    <div class="base_Timing">
      {% if Time%}
    {% for t in Time  %}
    {% if t.title == 'Kalyan Morning'%}
    <span>Open Time  : 10:55
      <span style="display:none"  id="open_time3">{{t.Opne_Time}} </span>
      AM
    </span>
    <span>Close Time : 11:55
      <span style="display:none" id="close_time3">{{t.Close_Time}}</span>
      AM
    </span>
      {% endif %}
      {% endfor %}
      {% endif %}
    </div>
  </div>
  <div class="left text-center">
    <h3>MADHUR MORNING</h3>
    {% if number%}
    {% for num in number  %}
    {% if num.title == 'Madhur Morning'%}
    <p>{{num.Number}}</P>
      {% endif %}
      {% endfor %}
      {% endif %}
    <div class="btn_section">
      <a href="https://luxmatka.club/main-market-chart.php" class="btnc">Chart</a>
      <a href="{%url 'madhur_morning'%}" id="btn4" class="btn_open">Open</a>
    </div>
    <div class="base_Timing">
      {% if Time%}
    {% for t in Time  %}
    {% if t.title == 'Madhur Morning'%}
    <span>Open Time  : 11:25
      <span style="display:none" id="open_time4" >{{t.Opne_Time}} </span>
      AM
    </span>
    <span>Close Time : 12:25
      <span style="display:none" id="close_time4" >{{t.Close_Time}}</span>
      PM
    </span>
      {% endif %}
      {% endfor %}
      {% endif %}
    </div>
  </div>

  <div class="main text-center">
    <h3>SRIDEVI</h3>
    {% if number%}
    {% for num in number  %}
    {% if num.title == 'Sridevi'%}
    <p>{{num.Number}}</P>
      {% endif %}
      {% endfor %}
      {% endif %}
    <div class="btn_section">
      <a href="https://luxmatka.club/main-market-chart.php" class="btnc">Chart</a>
      <a href="{%url 'sridevi'%}" id="btn5" class="btn_open">Open</a>
    </div>
    <div class="base_Timing">
      {% if Time%}
    {% for t in Time  %}
    {% if t.title == 'Sridevi'%}
    <span>Open Time  : 11:30
      <span style="display:none" id="open_time5" >{{t.Opne_Time}} </span>
      AM
    </span>
    <span>Close Time : 12:30
      <span style="display:none" id="close_time5" >{{t.Close_Time}}</span>
      PM
    </span>
      {% endif %}
      {% endfor %}
      {% endif %}
    </div>
  </div>

  <div class="right text-center">
    <h3>TIME BAZAR</h3>
    {% if number%}
    {% for num in number  %}
    {% if num.title == 'Time Bazar'%}
    <p>{{num.Number}}</P>
      {% endif %}
      {% endfor %}
      {% endif %}
    <div class="btn_section">
      <a href="https://luxmatka.club/main-market-chart.php" class="btnc">Chart</a>
      <a href="{%url 'timebazar'%}" id="btn6" class="btn_open">Open</a>
    </div>
    <div class="base_Timing">
      {% if Time%}
    {% for t in Time  %}
    {% if t.title == 'Time Bazar'%}
    <span>Open Time  : 12:55
      <span style="display:none" id="open_time6" >{{t.Opne_Time}} </span>
      PM
    </span>
    <span>Close Time : 01:55
      <span style="display:none" id="close_time6" >{{t.Close_Time}}</span>
      PM
    </span>
      {% endif %}
      {% endfor %}
      {% endif %}
    </div>
  </div>
  <div class="left text-center">
    <h3>MADHUR DAY</h3>
    {% if number%}
    {% for num in number  %}
    {% if num.title == 'Madhur Day'%}
    <p>{{num.Number}}</P>
      {% endif %}
      {% endfor %}
      {% endif %}
    <div class="btn_section">
      <a href="https://luxmatka.club/main-market-chart.php" class="btnc">Chart</a>
      <a href="{%url 'madhurday'%}" id="btn7" class="btn_open">Open</a>
    </div>
    <div class="base_Timing">
      {% if Time%}
    {% for t in Time  %}
    {% if t.title == 'Madhur Day'%}
    <span>Open Time  : 01:10
      <span style="display:none" id="open_time7" >{{t.Opne_Time}} </span>
      PM
    </span>
    <span>Close Time : 02:10
      <span style="display:none" id="close_time7" >{{t.Close_Time}}</span>
      PM
    </span>
      {% endif %}
      {% endfor %}
      {% endif %}
    </div>
  </div>

  <div class="main text-center">
    <h3>NEW KALYAN</h3>
    {% if number%}
    {% for num in number  %}
    {% if num.title == 'New Kalyan'%}
    <p>{{num.Number}}</P>
      {% endif %}
      {% endfor %}
      {% endif %}
    <div class="btn_section">
      <a href="https://luxmatka.club/main-market-chart.php" class="btnc">Chart</a>
      <a href="{%url 'newkalyan'%}" id="btn8" class="btn_open">Open</a>
    </div>
    <div class="base_Timing">
      {% if Time%}
      {% for t in Time  %}
      {% if t.title == 'New Kalyan'%}
      <span>Open Time  : 01:30
        <span style="display:none" id="open_time8" >{{t.Opne_Time}} </span>
        PM
      </span>
      <span>Close Time : 02:30
        <span style="display:none" id="close_time8" >{{t.Close_Time}}</span>
        PM
      </span>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>
  </div>
  <div class="right text-center">
    <h3>MILAN DAY</h3>
    {% if number%}
    {% for num in number  %}
    {% if num.title == 'Milan Day'%}
    <p>{{num.Number}}</P>
      {% endif %}
      {% endfor %}
      {% endif %}
    <div class="btn_section">
      <a href="https://luxmatka.club/main-market-chart.php" class="btnc">Chart</a>
      <a href="{%url 'milanday'%}" id="btn9" class="btn_open">Open</a>
    </div>
    <div class="base_Timing">
      {% if Time%}
    {% for t in Time  %}
    {% if t.title == 'Milan Day'%}
    <span>Open Time  : 02:55
      <span style="display:none" id="open_time9" >{{t.Opne_Time}} </span>
      PM
    </span>
    <span>Close Time : 04:55
      <span style="display:none" id="close_time9" >{{t.Close_Time}}</span>
      PM
    </span>
      {% endif %}
      {% endfor %}
      {% endif %}
    </div>
  </div>

  <div class="right text-center">
    <h3>RAJDHANI DAY</h3>
    {% if number%}
    {% for num in number  %}
    {% if num.title == 'Rajdhani Day'%}
    <p>{{num.Number}}</P>
      {% endif %}
      {% endfor %}
      {% endif %}
    <div class="btn_section">
      <a href="https://luxmatka.club/main-market-chart.php" class="btnc">Chart</a>
      <a href="{%url 'rajdhaniday'%}" id="btn10" class="btn_open">Open</a>
    </div>
    <div class="base_Timing">
      {% if Time%}
      {% for t in Time  %}
      {% if t.title == 'Rajdhani Day'%}
      <span>Open Time  : 02:55
        <span style="display:none" id="open_time10" >{{t.Opne_Time}} </span>
        PM
      </span>
      <span>Close Time : 04:55
        <span style="display:none" id="close_time10" >{{t.Close_Time}}</span>
        PM
      </span>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>
  </div>
  <div class="left text-center">
    <h3>SUPREME DAY</h3>
    {% if number%}
    {% for num in number  %}
    {% if num.title == 'Supreme Day'%}
    <p>{{num.Number}}</P>
      {% endif %}
      {% endfor %}
      {% endif %}
    <div class="btn_section">
      <a href="https://luxmatka.club/main-market-chart.php" class="btnc">Chart</a>
      <a href="{%url 'supremeday'%}" id="btn11" class="btn_open">Open</a>
    </div>
    <div class="base_Timing">
      {% if Time%}
      {% for t in Time  %}
      {% if t.title == 'Supreme Day'%}
      <span>Open Time  : 03:30
        <span style="display:none" id="open_time11" >{{t.Opne_Time}} </span>
        PM
      </span>
      <span>Close Time : 05:30
        <span style="display:none" id="close_time11" >{{t.Close_Time}}</span>
        PM
      </span>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>
  </div>
  <div class="right text-center">
    <h3>KALYAN</h3>
    {% if number%}
    {% for num in number  %}
    {% if num.title == 'Kalyan'%}
    <p>{{num.Number}}</P>
      {% endif %}
      {% endfor %}
      {% endif %}
    <div class="btn_section">
      <a href="https://luxmatka.club/main-market-chart.php" class="btnc">Chart</a>
      <a href="{%url 'kalyan'%}" id="btn12" class="btn_open">Open</a>
    </div>
    <div class="base_Timing">
      {% if Time%}
    {% for t in Time  %}
    {% if t.title == 'Kalyan'%}
    <span>Open Time  : 03:55
      <span style="display:none" id="open_time12" >{{t.Opne_Time}} </span>
      PM
    </span>
    <span>Close Time : 05:55
      <span style="display:none" id="close_time12" >{{t.Close_Time}}</span>
      PM
    </span>
      {% endif %}
      {% endfor %}
      {% endif %}
    </div>
  </div>

  <div class="right text-center">
    <h3>SRIDEVI NIGHT</h3>
    {% if number%}
    {% for num in number  %}
    {% if num.title == 'Sridevi Night'%}
    <p>{{num.Number}}</P>
      {% endif %}
      {% endfor %}
      {% endif %}
    <div class="btn_section">
      <a href="https://luxmatka.club/main-market-chart.php" class="btnc">Chart</a>
      <a href="{%url 'sridevinight'%}" id="btn13" class="btn_open">Open</a>
    </div>
    <div class="base_Timing">
      {% if Time%}
    {% for t in Time  %}
    {% if t.title == 'Sridevi Night'%}
    <span>Open Time  : 06:55
      <span style="display:none" id="open_time13" >{{t.Opne_Time}} </span>
      PM
    </span>
    <span>Close Time : 07:55
      <span style="display:none" id="close_time13" >{{t.Close_Time}}</span>
      PM
    </span>
      {% endif %}
      {% endfor %}
      {% endif %}
    </div>
  </div>
  
  <div class="right text-center">
    <h3>MADHUR NIGHT</h3>
    {% if number%}
    {% for num in number  %}
    {% if num.title == 'Madhur Night'%}
    <p>{{num.Number}}</P>
      {% endif %}
      {% endfor %}
      {% endif %}
    <div class="btn_section">
      <a href="https://luxmatka.club/main-market-chart.php" class="btnc">Chart</a>
      <a href="{%url 'madhurnight'%}" id="btn14" class="btn_open">Open</a>
    </div>
    <div class="base_Timing">
      {% if Time%}
    {% for t in Time  %}
    {% if t.title == 'Madhur Night'%}
    <span>Open Time  : 08:25
      <span style="display:none" id="open_time14" >{{t.Opne_Time}} </span>
      PM
    </span>
    <span>Close Time : 10:25
      <span style="display:none" id="close_time14" >{{t.Close_Time}}</span>
      PM
    </span>
      {% endif %}
      {% endfor %}
      {% endif %}
    </div>
  </div>
  <div class="right text-center">
    <h3>NEW MAIN MUMBAI</h3>
    {% if number%}
    {% for num in number  %}
    {% if num.title == 'New Main Mumbai'%}
    <p>{{num.Number}}</P>
      {% endif %}
      {% endfor %}
      {% endif %}
    <div class="btn_section">
      <a href="https://luxmatka.club/main-market-chart.php" class="btnc">Chart</a>
      <a href="{%url 'newmainmumbai'%}" id="btn15" class="btn_open">Open</a>
    </div>
    <div class="base_Timing">
      {% if Time%}
      {% for t in Time  %}
      {% if t.title == 'New Main Mumbai'%}
      <span>Open Time  : 08:10
        <span style="display:none" id="open_time15" >{{t.Opne_Time}} </span>
        PM
      </span>
      <span>Close Time : 09:10
        <span style="display:none" id="close_time15" >{{t.Close_Time}}</span>
        PM
      </span>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>
  </div>
  <div class="right text-center">
    <h3>SUPREME NIGHT</h3>
    {% if number%}
    {% for num in number  %}
    {% if num.title == 'Supreme Night'%}
    <p>{{num.Number}}</P>
      {% endif %}
      {% endfor %}
      {% endif %}
    <div class="btn_section">
      <a href="https://luxmatka.club/main-market-chart.php" class="btnc">Chart</a>
      <a href="{%url 'supremenight'%}" id="btn16" class="btn_open">Open</a>
    </div>
    <div class="base_Timing">
      {% if Time%}
      {% for t in Time  %}
      {% if t.title == 'Supreme Night'%}
      <span>Open Time  : 08:35
        <span style="display:none" id="open_time16" >{{t.Opne_Time}} </span>
       PM
      </span>
      <span>Close Time : 10:35
        <span style="display:none" id="close_time16" >{{t.Close_Time}}</span>
        PM
      </span>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>
  </div>
  <div class="right text-center">
    <h3>MILAN NIGHT</h3>
    {% if number%}
    {% for num in number  %}
    {% if num.title == 'Milan Night'%}
    <p>{{num.Number}}</P>
      {% endif %}
      {% endfor %}
      {% endif %}
    <div class="btn_section">
      <a href="https://luxmatka.club/main-market-chart.php" class="btnc">Chart</a>
      <a href="{%url 'milannight'%}" id="btn17" class="btn_open">Open</a>
    </div>
    <div class="base_Timing">
      {% if Time%}
    {% for t in Time  %}
    {% if t.title == 'Milan Night'%}
    <span>Open Time  : 08:55
      <span style="display:none" id="open_time17" >{{t.Opne_Time}} </span>
      PM
    </span>
    <span>Close Time : 10:55
      <span style="display:none" id="close_time17" >{{t.Close_Time}}</span>
      PM
    </span>
      {% endif %}
      {% endfor %}
      {% endif %}
    </div>
  </div>
  <div class="right text-center">
    <h3>KALYAN NIGHT</h3>
    {% if number%}
    {% for num in number  %}
    {% if num.title == 'Kalyan Night'%}
    <p>{{num.Number}}</P>
      {% endif %}
      {% endfor %}
      {% endif %}
    <div class="btn_section">
      <a href="https://luxmatka.club/main-market-chart.php" class="btnc">Chart</a>
      <a href="{%url 'kalyannight'%}" id="btn18" class="btn_open">Open</a>
    </div>
    <div class="base_Timing">
      {% if Time%}
    {% for t in Time  %}
    {% if t.title == 'Kalyan Night'%}
    <span>Open Time  : 10:00
      <span style="display:none" id="open_time18" >{{t.Opne_Time}} </span>
      PM
    </span>
    <span>Close Time : 11:00
      <span style="display:none" id="close_time18" >{{t.Close_Time}}</span>
      PM
    </span>
      {% endif %}
      {% endfor %}
      {% endif %}
    </div>
  </div>
  <div class="right text-center">
    <h3>RAJDHANI NIGHT</h3>
    {% if number%}
    {% for num in number  %}
    {% if num.title == 'Rajdhani Night'%}
    <p>{{num.Number}}</P>
      {% endif %}
      {% endfor %}
      {% endif %}
    <div class="btn_section">
      <a href="https://luxmatka.club/main-market-chart.php" class="btnc">Chart</a>
      <a href="{%url 'rajdhaninight'%}" id="btn19" class="btn_open">Open</a>
  
    </div>
    <div class="base_Timing">
      {% if Time%}
    {% for t in Time  %}
    {% if t.title == 'Rajdhani Night'%}
    <span>Open Time  : 09:20
      <span style="display:none" id="open_time19" >{{t.Opne_Time}} </span>
      PM
    </span>
    <span>Close Time : 11:35
      <span style="display:none" id="close_time19" >{{t.Close_Time}}</span>
      PM
    </span>
      {% endif %}
      {% endfor %}
      {% endif %}
    </div>
  </div>
  <div class="right text-center">
    <h3>MAIN BAZAR</h3>
    {% if number%}
    {% for num in number  %}
    {% if num.title == 'Main Bazar'%}
    <p>{{num.Number}}</P>
      {% endif %}
      {% endfor %}
      {% endif %}
    <div class="btn_section">
      <a href="https://luxmatka.club/main-market-chart.php" class="btnc">Chart</a>
      <a href="{%url 'mainbazar'%}" id="btn20" class="btn_open">Open</a>
    </div>
    <div class="base_Timing">
      {% if Time%}
    {% for t in Time  %}
    {% if t.title == 'Main Bazar'%}
    <span>Open Time  : 09:30
      <span style="display:none" id="open_time20" >{{t.Opne_Time}} </span>
    PM
    </span>
    <span>Close Time : 11:50
      <span style="display:none" id="close_time20" >{{t.Close_Time}}</span>
    PM
    </span>
      {% endif %}
      {% endfor %}
      {% endif %}
    </div>
  </div>

  <div class="left-button-btn">
    <div class="share" id="btns">
      <img src="{% static 'images/phone1.svg' %}">
    </div>
    <div class="connect_dropdown" id="connect_dropdown">
      <div class="links">
        <img src="{% static 'images/whatsapp.svg' %}">
        <div><a href="https://t.me/onlinesattakingss">8078657163<a></div>
      </div>
      <div class="links">
        <img src="">
        <div>8078657163</div>
      </div>
      <div class="links">
        <img src="{% static 'images/facebook.svg' %}">
        <div>Facebook</div>
      </div>
    </div>
  </div>
  <script>
    let togglebtn = document.getElementById("btns");
    let dropup = document.getElementById("connect_dropdown");
    togglebtn.addEventListener("click", function () {
      dropup.classList.toggle("active");
    });
  </script>


<!-- Checking time using js -->
  <script>
    
    for (let i = 1; i < 21 ; i++){
    
    var btn=document.getElementById("btn"+i);
    console.log(btn)
    var dt = new Date();//current Date that gives us current Time also
        var startTime = document.getElementById("open_time"+i).innerHTML;
        var endTime = document.getElementById("close_time"i).innerHTML;
        
        var s = startTime.split(':');
        var dt1 = new Date(dt.getFullYear(), dt.getMonth(), dt.getDate(),
        parseInt(s[0]), parseInt(s[1]));
        var e = endTime.split(':');
        var dt2 = new Date(dt.getFullYear(), dt.getMonth(),
        dt.getDate(), parseInt(e[0]), parseInt(e[1]));
            if(dt >= dt1 && dt <= dt2){     
              btn.classList.remove("close");
            }
            else{
              btn.classList.toggle("close")
              btn.innerHTML="close"
            }
    }
  </script>





  {% endblock contant %}