{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block contant %}
{% load static %}

<!-- As a heading -->
<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">
    <p align="right">Starline</p>
  </span>

  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Single Digit</th>
        <th scope="col">10-100</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Single Pana</td>
        <td>10-1500</td>
      </tr>
      <tr>
        <td>Double Pana</td>
        <td>10-3000</td>
      </tr>
      <tr>
        <td>Triple Pana</td>
        <td>10-7000</td>
      </tr>
    </tbody>

  </table>
  <div class="main_btn_section">
    <div class="btnleft">
      <a href="{%url 'winning'%}" class="btn_win">Winning History</a>
    </div>
    <div class="btnright">
      <a href="{%url 'bid'%}" class="btn_bid">Bid History</a>
    </div>
  </div>

</nav>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
  .wallet_nav {
    padding: 0 30px;
    width: auto;
    height: 70px;
    display: flex;
    background-color: cornflowerblue;
    align-items: center;
    justify-content: space-between;
  }

  .navbar p {
    margin-left: 80px;
    font-weight: 600;
    font-size: 20px;
  }

  .table td {
    margin-left: 100px;

  }

  .table th {
    margin-left: 100px;

  }

  * {
    box-sizing: border-box;
  }

  .left {
    border: 2px solid red;
    float: left;
    width: 33%;
    /* The width is 20%, by default */

  }

  a {
    text-decoration: none;
    color: black;
    float: left;

  }

  .btn {
    background-color: crimson;
    padding: 6px;
    border: 5px solid blue;
    cursor: pointer;
    font-size: 13px;
    border-radius: 30px;
    color: white;
  }
  .btn_win{
    border: 1px solid #00f;
    color: #00f
  }
  .btn_bid {
    border: 1px solid #fff;
    color: #fff;
  }
  .btn_win,
  .btn_bid {
    padding: 6px;
    cursor: pointer;
    font-size: 13px;
    border-radius: 30px
  }

  .btn_open {
    background-color: green;
    padding: 11px;
    font-style:bold;
    float: Right;
    cursor: pointer;
    font-size: 13px;
    border-radius: 30px

  }


  .main {
    border: 2px solid red;
    float: left;
    width: 33%;
    /* The width is 60%, by default */
  }

  .right {
    border: 2px solid red;
    float: left;
    width: 33%;
    /* The width is 20%, by default */
  }

  /* Use a media query to add a break point at 800px: */
  @media screen and (max-width: 800px) {

    .left,
    .main,
    .right {
      width: 100%;
      /* The width is 100%, when the viewport is 800px or smaller */
    }
  }


  /* ---------------left-button-btn----------------- */

  .left-button-btn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #0f0;
  }

  .share {
    position: fixed;
    bottom: 20px;
    display: grid;
    place-items: center;
    left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #0f0;
  }

  .connect_dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    width: 200px;
    bottom: 60px;
    height: 120px;
    border: 1px solid #000;
    padding: 0 10px;
    background-color: #fff;
    border-radius: 12px;
  }

  .connect_dropdown .links:nth-child(1),
  .connect_dropdown .links:nth-child(2) {
    border-bottom: 1px solid #000;
  }

  .connect_dropdown .links {
    width: 100%;
    display: flex;
    padding: 0 10px;
    align-items: center;
    height: calc(100%/3);
  }

  .active {
    display: block;
  }

  .base_Timing {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 30px;
    background-color: #343a40;
  }

  .main_btn_section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 8px 8px 8px;
    align-items: center;
  }

  .btn_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 8px 8px 8px;
  }

  .close{
    background-color: red !important;
    pointer-events: none;
}
</style>
<div class="left text-center">
  <div class="base_Timing">
    {% if Time%}
    {% for t in Time  %}
    {% if t.title == '10 AM'%}
    <span>  Open Time : 10:00
      <span style="display:none" id="open_time1" >{{t.Opne_Time}} </span>
      AM
    </span>
    <span>
      <span style="display:none" id="close_time1" >{{t.Close_Time}}</span>
    </span>
    {% endif %}
    {% endfor %}
    {% endif %}
  </div>
  <h3>10:00 AM</h3>
  {% if number%}
  {% for num in number  %}
  {% if num.title == '10 AM'%}
  <p>{{num.Number}}</P>
    {% endif %}
    {% endfor %}
    {% endif %}
  <div class="btn_section">
    <a href="https://luxmatka.club/starline-market-chart.php" class="btn">Chart</a>
    <a href="{%url '10am'%}"  id="btn1" class="btn_open ">Open</a>
  </div>
</div>

<div class="main text-center">
  <div class="base_Timing">
    {% if Time%}
    {% for t in Time  %}
    {% if t.title == '11 AM'%}
    <span>  Open Time : 11:00
      <span style="display:none" id="open_time2" >{{t.Opne_Time}} </span>
      AM
    </span>
    <span>
      <span style="display:none" id="close_time2" >{{t.Close_Time}}</span>
    </span>
    {% endif %}
    {% endfor %}
    {% endif %}
  </div>
  <h3>11:00 AM</h3>
  {% if number%}
  {% for num in number  %}
  {% if num.title == '11 AM'%}
  <p>{{num.Number}}</P>
    {% endif %}
    {% endfor %}
    {% endif %}
  <div class="btn_section">
    <a href="https://luxmatka.club/starline-market-chart.php" class="btn">Chart</a>
    <a href="{%url '11am'%}" id="btn2" class="btn_open ">Open</a>
  </div>
</div>

<div class="right text-center">
  <div class="base_Timing">
    {% if Time%}
    {% for t in Time  %}
    {% if t.title == '12 PM'%}
    <span>  Open Time : 12:00
      <span style="display:none" id="open_time3" >{{t.Opne_Time}} </span>
      PM
    </span>
    <span>
      <span style="display:none" id="close_time3" >{{t.Close_Time}}</span>
    </span>
    {% endif %}
    {% endfor %}
    {% endif %}
  </div>
  <h3>12:00 PM</h3>
  {% if number%}
  {% for num in number  %}
  {% if num.title == '12 PM'%}
  <p>{{num.Number}}</P>
    {% endif %}
    {% endfor %}
    {% endif %}
  <div class="btn_section">
    <a href="https://luxmatka.club/starline-market-chart.php" class="btn">Chart</a>
    <a href="{%url '12pm'%}" id="btn3" class="btn_open ">Open</a>
  </div>
</div>

<div class="left text-center">
  <div class="base_Timing">
    {% if Time%}
    {% for t in Time  %}
    {% if t.title == '01 PM'%}
    <span>  Open Time : 01:00
      <span style="display:none" id="open_time4" >{{t.Opne_Time}} </span>
      PM
    </span>
    <span>
      <span style="display:none" id="close_time4" >{{t.Close_Time}}</span>
    </span>
    {% endif %}
    {% endfor %}
    {% endif %}
  </div>
  <h3>01:00 PM</h3>
  {% if number%}
  {% for num in number  %}
  {% if num.title == '01 PM'%}
  <p>{{num.Number}}</P>
    {% endif %}
    {% endfor %}
    {% endif %}
  <div class="btn_section">
    <a href="https://luxmatka.club/starline-market-chart.php" class="btn">Chart</a>
    <a href="{%url '01pm'%}" id="btn4" class="btn_open ">Open</a>
  </div>

</div>

<div class="main text-center">
  <div class="base_Timing">
    {% if Time%}
    {% for t in Time  %}
    {% if t.title == '02 PM'%}
    <span>  Open Time : 02:00
      <span style="display:none" id="open_time5" >{{t.Opne_Time}} </span>
      PM
    </span>
    <span>
      <span style="display:none" id="close_time5" >{{t.Close_Time}}</span>
    </span>
    {% endif %}
    {% endfor %}
    {% endif %}
  </div>
  <h3>02:00 PM</h3>
  {% if number%}
  {% for num in number  %}
  {% if num.title == '02 PM'%}
  <p>{{num.Number}}</P>
    {% endif %}
    {% endfor %}
    {% endif %}
  <div class="btn_section">
    <a href="https://luxmatka.club/starline-market-chart.php" class="btn">Chart</a>
    <a href="{%url '02pm'%}" id="btn5" class="btn_open ">Open</a>
  </div>
</div>
<div class="right text-center">
  <div class="base_Timing">
    {% if Time%}
    {% for t in Time  %}
    {% if t.title == '03 PM'%}
    <span>  Open Time : 03:00
      <span style="display:none" id="open_time6" >{{t.Opne_Time}} </span>
      PM
    </span>
    <span>
      <span style="display:none" id="close_time6" >{{t.Close_Time}}</span>
    </span>
    {% endif %}
    {% endfor %}
    {% endif %}
  </div>
  <h3>03:00 PM</h3>
  {% if number%}
  {% for num in number  %}
  {% if num.title == '03 PM'%}
  <p>{{num.Number}}</P>
    {% endif %}
    {% endfor %}
    {% endif %}
  <div class="btn_section">
    <a href="https://luxmatka.club/starline-market-chart.php" class="btn">Chart</a>
    <a href="{%url '03pm'%}" id="btn6" class="btn_open ">Open</a>
  </div>
</div>

<div class="left text-center">
  <div class="base_Timing">
    {% if Time%}
    {% for t in Time  %}
    {% if t.title == '04 PM'%}
    <span>  Open Time : 04:00
      <span style="display:none" id="open_time7" >{{t.Opne_Time}} </span>
      PM
    </span>
    <span>
      <span style="display:none" id="close_time7" >{{t.Close_Time}}</span>
    </span>
    {% endif %}
    {% endfor %}
    {% endif %}
  </div>
  <h3>04:00 PM</h3>
  {% if number%}
  {% for num in number  %}
  {% if num.title == '04 PM'%}
  <p>{{num.Number}}</P>
    {% endif %}
    {% endfor %}
    {% endif %}
  <div class="btn_section">
    <a href="https://luxmatka.club/starline-market-chart.php" class="btn">Chart</a>
    <a href="{%url '04pm'%}" id="btn7" class="btn_open ">Open</a>
  </div>

</div>

<div class="main text-center">
  <div class="base_Timing">
    {% if Time%}
    {% for t in Time  %}
    {% if t.title == '05 PM'%}
    <span>  Open Time : 05:00
      <span style="display:none" id="open_time8" >{{t.Opne_Time}} </span>
      PM
    </span>
    <span>
      <span style="display:none" id="close_time8" >{{t.Close_Time}}</span>
    </span>
    {% endif %}
    {% endfor %}
    {% endif %}
  </div>
  <h3>05:00 PM</h3>
  {% if number%}
  {% for num in number  %}
  {% if num.title == '05 PM'%}
  <p>{{num.Number}}</P>
    {% endif %}
    {% endfor %}
    {% endif %}
  <div class="btn_section">
    <a href="https://luxmatka.club/starline-market-chart.php" class="btn">Chart</a>
    <a href="{%url '05pm'%}" id="btn8" class="btn_open ">Open</a>
  </div>
</div>

<div class="right text-center">
  <div class="base_Timing">
    {% if Time%}
    {% for t in Time  %}
    {% if t.title == '06 PM'%}
    <span>  Open Time : 06:00
      <span style="display:none" id="open_time9" >{{t.Opne_Time}} </span>
      PM
    </span>
    <span>
      <span style="display:none" id="close_time9" >{{t.Close_Time}}</span>
    </span>
    {% endif %}
    {% endfor %}
    {% endif %}
  </div>
  <h3>06:00 PM</h3>
  {% if number%}
    {% for num in number  %}
    {% if num.title == '06 PM'%}
    <p>{{num.Number}}</P>
      {% endif %}
      {% endfor %}
      {% endif %}
  <div class="btn_section">
    <a href="https://luxmatka.club/starline-market-chart.php" class="btn">Chart</a>
    <a href="{%url '06pm'%}" id="btn9" class="btn_open ">Open</a>
  </div>
</div>

<div class="left text-center">
  <div class="base_Timing">
    {% if Time%}
    {% for t in Time  %}
    {% if t.title == '07 PM'%}
    <span>  Open Time : 07:00
      <span style="display:none" id="open_time10" >{{t.Opne_Time}} </span>
      PM
    </span>
    <span>
      <span style="display:none" id="close_time10" >{{t.Close_Time}}</span>
    </span>
    {% endif %}
    {% endfor %}
    {% endif %}
  </div>
  <h3>07:00 PM</h3>
  {% if number%}
    {% for num in number  %}
    {% if num.title == '07 PM'%}
    <p>{{num.Number}}</P>
      {% endif %}
      {% endfor %}
      {% endif %}
  <div class="btn_section">
    <a href="https://luxmatka.club/starline-market-chart.php" class="btn">Chart</a>
    <a href="{%url '07pm'%}"id="btn10" class="btn_open ">Open</a>
  </div>

</div>

<div class="main text-center">
  <div class="base_Timing">
    {% if Time%}
    {% for t in Time  %}
    {% if t.title == '08 PM'%}
    <span>  Open Time : 08:00
      <span style="display:none" id="open_time11" >{{t.Opne_Time}} </span>
      PM
    </span>
    <span>
      <span style="display:none" id="close_time11" >{{t.Close_Time}}</span>
    </span>
    {% endif %}
    {% endfor %}
    {% endif %}
  </div>
  <h3>08:00 PM</h3>
  {% if number%}
  {% for num in number  %}
  {% if num.title == '08 PM'%}
  <p>{{num.Number}}</P>
    {% endif %}
    {% endfor %}
    {% endif %}
  <div class="btn_section">
    <a href="https://luxmatka.club/starline-market-chart.php" class="btn">Chart</a>
    <a href="{%url '08pm'%}" id="btn11" class="btn_open ">Open</a>
  </div>
</div>

<div class="right text-center">
  <div class="base_Timing">
    {% if Time%}
    {% for t in Time  %}
    {% if t.title == '09 PM'%}
    <span>  Open Time : 09:00
      <span style="display:none" id="open_time12" >{{t.Opne_Time}} </span>
      PM
    </span>
    <span>
      <span style="display:none" id="close_time12" >{{t.Close_Time}}</span>
    </span>
    {% endif %}
    {% endfor %}
    {% endif %}
  </div>
  <h3>09:00 PM</h3>
  {% if number%}
  {% for num in number  %}
  {% if num.title == '09 PM'%}
  <p>{{num.Number}}</P>
    {% endif %}
    {% endfor %}
    {% endif %}
  <div class="btn_section">
    <a href="https://luxmatka.club/starline-market-chart.php" class="btn">Chart</a>
    <a href="{%url '09pm'%}" id="btn12" class="btn_open ">Open</a>
  </div>
</div>
<div class="right text-center">
  <div class="base_Timing">
    {% if Time%}
    {% for t in Time  %}
    {% if t.title == '10 PM'%}
    <span>  Open Time : 10:00
      <span style="display:none" id="open_time13" >{{t.Opne_Time}} </span>
      PM
    </span>
    <span>
      <span style="display:none" id="close_time13" >{{t.Close_Time}}</span>
    </span>
    {% endif %}
    {% endfor %}
    {% endif %}
  </div>
  <h3>10:00 PM</h3>
  {% if number%}
  {% for num in number  %}
  {% if num.title == '10 PM'%}
  <p>{{num.Number}}</P>
    {% endif %}
    {% endfor %}
    {% endif %}
  <div class="btn_section">
    <a href="https://luxmatka.club/starline-market-chart.php" class="btn">Chart</a>
    <a href="{%url '10pm'%}" id="btn13" class="btn_open ">Open</a>
  </div>
</div>

<script>
  for (let i = 1; i < 14 ; i++){
  
    var btn=document.getElementById("btn"+i);

    var dt = new Date();//current Date that gives us current Time also
        var startTime = document.getElementById("open_time"+i).innerHTML;
        var endTime = document.getElementById("close_time"+i).innerHTML;
        
        var s = startTime.split(':');
        var dt1 = new Date(dt.getFullYear(), dt.getMonth(), dt.getDate(),
        parseInt(s[0]), parseInt(s[1]));
        var e = endTime.split(':');
        var dt2 = new Date(dt.getFullYear(), dt.getMonth(),
        dt.getDate(), parseInt(e[0]), parseInt(e[1]));
            if(dt >= dt1 && dt <= dt2){     
              btn.classList.remove("close");
            }
            else{
              btn.classList.toggle("close")
              btn.innerHTML="close"
            }
    }
  </script>



{% endblock contant %}